<!DOCTYPE html>

<html lang="en" >

<head>

    <title>Infanion Chat system</title>

    <link href="css/main.css" rel="stylesheet" type="text/css" />

    <link href="css/rooms.css" rel="stylesheet" type="text/css" />

   <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!--<script src="js/online.js"></script>-->

</head>

<body>
<div class="sidebar" id="links">

        <div>

            <h2>Online Members Block</h2>

            {online_members}

        </div>

</body>
</html>
