input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
form {
border: 3px solid #f1f1f1;
    position: relative;
    margin-left: 450px;
    width: 33%;
    margin-top: 5%;
}
 .submit{   background-color: navajowhite;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
body {
background-image: url("../images/coverimage.jpg");
}
button:hover {
    opacity: 0.8;
}


.container {
    padding: 16px;
}
